/* HERO COM FOTO */

.sobre-hero-bg {
    position: relative;
    height: 400px;

    background: url("../img/fundosobre.png") center/cover no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    color: #fff;
}

/* camada escura por cima da imagem */
.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
}

/* conteúdo acima do overlay */
.hero-content {
    position: relative;
    z-index: 2;
    padding: 20px;
    margin-top: 200px;  /* desce o texto */
}

.hero-content h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 20px;
    max-width: 600px;
}


/* CONTAINER */

.sobre-container {
    max-width: 1100px;
    margin: auto;
    padding: 50px 20px;
}

/* TEXTO */

.sobre-texto {
    text-align: center;
    margin-bottom: 50px;
}

.sobre-texto h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.sobre-texto p {
    font-size: 17px;
    color: #444;
    margin-bottom: 10px;
}

/* CARDS */

.sobre-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.card {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    margin-bottom: 15px;
    font-size: 22px;
}

.card p,
.card li {
    color: #555;
    font-size: 16px;
}

.card ul {
    padding-left: 18px;
}

/* RODAPÉ */

.rodape {
    text-align: center;
    padding: 20px;
    background: #111;
    color: #fff;
    margin-top: 40px;
}

@media (max-width: 1024px) {
    .brands {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {

    .hero {
        padding: 30px 15px;
    }

    .hero .logo {
        max-width: 260px;
        /* diminui no mobile */
    }

    .hero h1 {
        font-size: 24px;
    }

    .hero p {
        font-size: 15px;
    }

    .catalogo-card img {
        width: 160px;
    }

    @media (max-width: 768px) {

  .sobre-hero-bg {
    height: 300px;              /* reduz altura */
    align-items: flex-end;      /* mantém embaixo */
    padding-bottom: 10px;       /* menos espaço no mobile */
  }

  .hero-content h1 {
    font-size: 25px;            /* diminui título */
  }

  .hero-content p {
    font-size: 15px;            /* diminui subtítulo */
    padding: 0 15px;            /* evita texto colado na borda */
  }

}

}



